
@media (hover: hover) and (pointer: fine) {
    div.items::-webkit-scrollbar {
        width: 0.75rem;
    }
    div.items::-webkit-scrollbar-thumb {
        outline: rgb(85, 85, 85) solid 1px;
        background-color: #00000050;
    }
}

div.items {
    user-select: none;
    font-size: 0.8rem;
    overflow: hidden overlay;
    border-radius: 0px 0px 5px 5px;
    margin: 0px 1.5rem;
    max-width: 37rem;
    width: -webkit-fill-available;
}

@media only screen and (max-width: 600px) {
    div.items {
        margin: 0px 0.5rem;
    }
    
}

div.container {
    user-select: none;
    display: grid;
    height: 100%;
    justify-items: center;
}
div.head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
}
div.image-bg {
    text-align: center;
    width: fit-content;
    padding: 1rem;
}
div.actions {
    text-align: right;
    padding-right: 0.5rem;
}
img.card-img {
    user-select: none;
    transition: all 0.5s ease-in-out;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}




div.controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background: var(--color-primary); */
    margin-top: 1rem;
}


svg {
    width: 3rem;
    height: 3rem;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 5px;
    fill: var(--color-primary);
}
svg.refresh {
    transition: all 0.5s ease-in-out;
}

path.heart, svg.delete>path, svg.refresh>path {
    fill: var(--color-pink);
}
path.heart-shaped-box {
    fill: none;
    stroke: var(--color-pink);
    stroke-width: 2px;
}
