
:host {
    user-select: none;
}
:host .app-button-group {
    margin-right: -35px;
    text-align: right;
    padding-right: 2em;
    cursor: pointer;
    float: right;
}
:host .hide {
    display: none;
}
:host img.close {
    width: 2rem;
}
:host img.mini {
    width: 1.75rem;
}
:host img.maxi, img.restore {
    width: 1.55rem;
}
