

svg {
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    padding: 5px;
    
    position: relative;
    display: inline-block;
}
svg.refresh {
    transition: all 0.5s ease-in-out;
}
svg.favorite {
    right: 0;
    bottom: 0;
    position: absolute;
}
path.heart {
    fill: var(--color-pink);
    stroke: var(--color-dark);
}

.container {
    height: auto;
    /* margin-top: -5px; */
    /* background-color: rgb(238 238 238); */
    margin-bottom: 3rem;
}

.grid-box {
    display: grid;
    gap: 5px;
    margin: 0.75rem;
    grid-template-columns: repeat(auto-fit, minmax(175px, 225px));
    align-items: center;
    place-content: center;
    justify-content: space-evenly;
}
@media only screen and (max-width: 600px) {
    .grid-box {
        grid-template-columns: repeat(auto-fit, minmax(175px, 175px));
    }
}

.card {
    position: relative;
    color: #212121;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    cursor: pointer;
    border-radius: 5px;
}
/* .card:nth-child(n) {
    margin: .5rem;
} */
.card:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);
}

.card-img {
    display: block;
    user-select: none;
    transition: all 0.5s ease-in-out;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border-radius: 5px;
}