
.app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 6.3rem;
    grid-template-areas: 'main' 'footer';
    overflow: hidden;
}

main {
    
    grid-area: main;
    overflow: auto hidden;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    
}
footer {
    grid-area: footer;
    margin: 0;
    grid-area: 0.25;
}


/* .app > main > section {
    grid-area: 0.1666666667;
    padding: 0;
    width: 100%;
    display: flex;
}
.app > main > section > * {
    overflow: auto;
}
.app > main > section.full {
    grid-area: 0.25;
} */


main.swipe-view {
    overflow: auto hidden;
    scroll-snap-coordinate: 0 0;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: x mandatory;
    flex: 1;
    display:flex;
    -webkit-overflow-scrolling: touch;
    /* background-image: linear-gradient(0.15turn, var(--color-accent) 0%, var(--color-secondary) 51%, var(--color-primary) 100%); */
    background-image: radial-gradient(circle at left bottom, var(--color-accent) 0%, var(--color-primary) 57%, var(--color-secondary) 100%);
}
main.swipe-view section {
    height: 100%;
    overflow: auto;
    width: -webkit-fit-available;
    flex:0 0 100vw;
    scroll-snap-align: start;
}
@media (hover: hover) and (pointer: fine) {
    main.swipe-view::-webkit-scrollbar, main > section::-webkit-scrollbar {
        width: 0.75rem;
        height: 0.75rem;
        cursor: pointer;
    }
    main.swipe-view::-webkit-scrollbar-track, main section::-webkit-scrollbar-thumb {
        background: var(--color-primary);
        /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    }
    main.swipe-view::-webkit-scrollbar-thumb {
        background-color: var(--color-accent);
    }
    main.swipe-view section::-webkit-scrollbar-thumb {
        background-color: #00000050
    }
    main.swipe-view::-webkit-scrollbar-corner {
        background-color: var(--color-primary);
    }
}
/* 
section.casts {
    background-image: linear-gradient(0.25turn, rgb(132, 250, 176) 0%, rgb(5, 250, 208) 51%, rgb(246, 8, 240) 100%);
}
section.deets {
    background-image: linear-gradient(0.25turn, rgb(246, 8, 240) 0%, rgb(5, 250, 208) 51%, var(--color-primary) 100%);
} */


.center {
    text-align: center;
}
.hide {
    display: none;
}
.link {
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #ff6000;
    color: white;
    margin-left: 33%;
    margin-right: 33%;
    display: inline-block;
    margin-top: 1em;
}
.info {
    color: black;
    background-color: #e4f2f8;
    margin: auto;
    padding: 15px 10px;
    text-align: left;
    width: 300px;
    border-radius: 5px;
}
.code {
    font-family: monospace;
}
img {
    max-width: 150px;
}

/* .grid {
    display: grid;
    grid-auto-rows: 10vh 80vh 10vh;
}
.grid-box {
    place-items: center;
} */

.load-container {
    position: relative;
    z-index: 1000;
    height: 106vh;
    display: flex;
    width: 100vw;
    background-color: rgb(2, 136, 209);
    flex-wrap: wrap;
    place-content: space-around;
}