
template {
    user-select: none;
}

path {
    fill : var(--color-accent);
}

.filtered {
    filter: drop-shadow(rgb(238 238 238) 0px 0px 1px);
}

section {
    z-index: 100;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 6.3rem;
}
@media (hover: none) and (pointer: coarse) {
    section {
        box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2), 0px -4px 10px 0px rgba(0, 0, 0, 0.2);
    }
}

section.expand {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 14rem;
}

section.expand-full {
    height: 15rem;
}

.title {
    text-align: center;
    margin-top: 1rem;
    color: var(--color-light);
}

.titlePlaying {
    margin-top: 1rem;
    vertical-align: middle;
    cursor: default;
    overflow: hidden;
}

.expandid {
    transition: all .3s ease-out;
    user-select: none;
    margin-right: 0rem;
    max-width: 3.5rem;
}

.expandid.expand {
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.expand-container {
    padding-top: .5rem;
    text-align: right;
    padding-right: 2rem;
}

.inline-player {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: .4rem 0 .4rem 0;
}

.playcont {
    margin: auto;


    /* border: 1pt solid var(--color-accent);
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    z-index: 1;
    outline: none;
    flex: 1 1 auto;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;*/
    /* background-size: 200%; 
    box-shadow: rgb(238, 238, 238) 0px 0px 20px;
    background-position: right center; */
}

.playdiv {

    width: 4rem;
    height: 4rem;
    background-size: 4rem;
    background-repeat: no-repeat;
    white-space: nowrap;
    display: inline-flex;
    cursor: pointer;
    position: relative;

    /* color: white; */
    /* border-radius: 50%; */
}
path.play, path.pause {
    fill: transparent;
    stroke: #05fad0;
    stroke-width: 0.5pt;
    stroke-opacity: 1;
}



.progress {
    margin-top: -20px;
    height: 20px;
    width: 100%;


    white-space: nowrap;
    display: inline-flex;
    cursor: pointer;
    position: relative;
    border: 1pt solid var(--color-accent);
    appearance: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    z-index: 1;
    outline: none;
    flex: 1 1 auto;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    background-size: 200%;
    box-shadow: rgb(238, 238, 238) 0px 0px 20px;
    color: white;
    background-image: linear-gradient(to right, rgb(132, 250, 176) 0%, var(--color-accent) 51%, rgb(246, 8, 240) 100%);
    background-position: right center;
}
.progressAmount {
    white-space: nowrap;
    display: block;
    height: 100%;
    width: 0px;
    line-height: 1.5rem;
    border-right: 2pt solid #FFF;
}
.currentTime {
    padding-left: .5rem;
}
.duration {
    right: 0px;
    position: fixed;
    line-height: 1.5rem;
    padding-right: .5rem;
}

.settings {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    user-select: none;
}

.settings.rotated {
    -webkit-transform: rotate(66deg);
    -moz-transform: rotate(66deg);
    -ms-transform: rotate(66deg);
    -o-transform: rotate(66deg);
    transform: rotate(66deg);
}

.small-icon {
    user-select: none;
    width: 20%;
    height: auto;
    max-height: 2.3rem;
}

.medium-icon {
    user-select: none;
    width: 25%;
    height: auto;
}

.large-icon {
    width: 90%;
    max-width: 4rem;
    height: auto;
    padding: .5rem 0 .5rem 0;
}

.large-icon.list {
    max-width: 5.5rem;
    margin-left: 1rem;
    padding: 0px;
}

.bottom-icon {
    text-align: center;
    align-items: center;
    width: 100%;
}


.center {
    text-align: center;
}

.hide {
    display: none;
}

.spacer {
    user-select: none;
}

.circle {
    border-radius: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.max4 {
    max-width: 4rem;
}


.volume {
    vertical-align: middle;
    padding-top: 7%;
    display: flex;
}

input[type=range] {
    -webkit-appearance: none;
    max-width: 75%;
    background: #0288d1;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: auto;
    cursor: pointer;
    background: #555;
    border-radius: 0px;
    border: 0px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #b3e5fc, 0px 0px 0px #b3e5fc;
    border: 0px solid #b3e5fc;
    height: 2rem;
    width: 1rem;
    border-radius: 0px;
    background: #b3e5fc;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #555;
}



svg {
    cursor: pointer;
}

.grid {
    display: flex;
    grid-auto-columns: 33.3%;
    flex-wrap: nowrap;
    align-items: center;
}
.grid:after {
    content: "";
    display: table;
    clear: both;
}


[class*='col-'] {
    float: left;
}

.col-1-4,
.col-2-4,
.col-3-4,
.col-4-4 {
    width: 25%;
}

.col-1-3 {
    width: 20%;
}

.col-2-3 {
    width: 60%;
}

.col-3-3 {
    width: 20%;
}

.dark-primary-color {
    background: #0288D1;
}

.default-primary-color {
    background: #03A9F4;
}

.light-primary-color {
    background: #B3E5FC;
}

.text-primary-color {
    color: #FFFFFF;
}

.accent-color {
    background: #FF4081;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #757575;
}

.divider-color {
    border-color: #BDBDBD;
}


:host input {
    border: 0;
    font-size: 2rem;
    line-height: 35px;
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 10px;
    background: transparent;
    color: rgb(0, 0, 0);
}

:host input:focus {
    background: #eee;
    border: none;
}

:host .container {
    width: 100%;
    height: 100%;
    bottom: 0px;
    margin-bottom: 0px;
    /* position: absolute; */
    text-align: center;
}

/* back forward icons */
.cls-1,.cls-2{fill:none;stroke:var(--color-accent);stroke-width:2px;}.cls-1{stroke-miterlimit:10;}
.cls-2{stroke-linecap:round;stroke-linejoin:round;}
