
.footer__center {
    align-items: center;
    align-content: center;
    text-align: center;
}



.modal-bg {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .1s linear,-webkit-transform .1s linear;
    transition: opacity .1s linear,-webkit-transform .1s linear;
    transition: transform .1s linear,opacity .1s linear;
    transition: transform .1s linear,opacity .1s linear,-webkit-transform .1s linear;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9001;
}

.show {
    opacity: 1;
    display: inherit;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
}
.fade {
    opacity: 0;
    transition: opacity .15s linear;
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    transform: translate(0,-25%);
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}



.fade-in {
    z-index: 900001;
}
.fade-in {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .1s linear;
    transition: opacity .1s linear;
}


.backdrop--open, .backdrop_open {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .4s linear;
    transition: opacity .4s linear;
}
.backdrop {
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(8,7,7,.6);
    z-index: 9000;
}